body{
    background: #38761D;
}
#nombre{
    font-family: 'Nunito', sans-serif;
    color: #009E0F;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}
#barra{
    color: white;
}
#observaciones{
    border-radius: 7px;
    color: black;
    background: #FF9900;
    border-color: white;
    font-family: Arial;
    font-size: 18px;
    margin-top:  1em;
    margin-left: 8em;
    font-weight: bold;
}
#observaciones2{
    color: black;
}
#estadisticas{
    border-radius: 7px;
    color: black;
    background: #FF9900;
    border-color: white;
    font-family: Arial;
    font-size: 18px;
    margin-top:  1em;
    margin-left: 10em;
    font-weight: bold;
}
#estadisticas2{
    color: black;
}
#volver{
    border-radius: 7px;
    color: white;
    background: green;
    border-color: white;
    font-family: Arial;
    font-size: 18px;
    margin-top:  1em;
    margin-bottom: 1em;
    margin-left: 15em;
    font-weight: bold;
}
#volver2{
    color: white;
}
