body{
    background: #38761D;
}
#nombre{
    font-family: 'Nunito', sans-serif;
    font: oblique bold 120% cursive;
    color: white;
    font-size: 30px;
    padding-top: 5px;
    font-weight: bold;
}

#tabla{
    width: 100%;
}
